.pokemon-card{
  font-family:"Verdana", sans-serif;
  background-color: #eee;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow:  0 1px 6px rgb(32 33 36/ 28%);
  border-color: rgba(233,225,229,0);
  border-top: 10px solid #3359ec;
  border-bottom: 10px solid #3359ec;
}
